.BodyPage {
  display: grid;
  grid-template:  
    70px 1fr 60px / 
    400px 1fr 500px;
}

.Playlist-Card {
  display: grid;
  grid-column: 1/2;
  grid-row: 2/3;
  position: fixed;
  top: 70px;
  width: 400px;
}

.TracksList-Container {
  display: grid;
  grid-column: 2/3;
  grid-row: 2/3;
}

